<div class="row">
  <div class="twelve columns">
    <h2>Start Broadcasting!</h2>
    <hr />
  </div>
</div>


<div class="row">
  <div class="five columns centered">
    <p><%= link_to "ACTION!", broadcasts_new_url, :class => "large success button"%></p>
  </div>
</div>
