
<meta name="room_key" content="<%= @key %>">
<div class="row">
  <div class="twelve columns">
    <h2>Transmitting....</h2>
    <hr />
  </div>
</div>


<div id="transmit_container">
  <video id='preview' autoplay></video>
  <video id='viewer' autoplay></video>
</div>

